html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    margin: 0;
    
}

body{
    height: 100%; 
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F2ED;

}

hr{
    border-width: 2px;
    border-color: black;
    border-radius: 100px;
}

.lateralnav{
    float: left;
    background-color: #333333;
    height: auto;
}

.formrow{
    margin-bottom: 2%;
}

.flex-column {
    height: 100%; 
}
.navtext{
    color: #9b8e6e;
    font-size: 70%;
    /* word-wrap: break-word; */
    /* display: grid;
    text-align: center; */
    
}
.navtm{
    /* display: inline-block; */
    text-align: center;
    margin-top: 10%;
}
/* .circle {
    border-radius: 90em;
    box-shadow: 0em 0em .1em #9B8E6E;
    color: #9B8E6E;
    width: 1.7em!important;
    height: 1.7em!important;
    padding: 7%;

   
  
  } */

  .circle {
    /* display: inline-block; */
    border-radius: 90em;
    box-shadow: 0em 0em .1em #9B8E6E;
    color: #9B8E6E;
    /* padding: 0.3em 0.3em; */
    width: 40%!important;
    height: 40%!important;
    padding: 7%;
    
    /* margin-left: 25%; */
    /* margin-bottom: 15%; */
   
  
  }

.nav .nav-item > .nav-link.active  {
    color:green;
}
#novus{
    color: black;
}
 a:hover {
    color: #9b8e6e;
} 


td.sorting_1 {
    background-color: transparent !important;
}

tr.even {
    background-color: #F2F2F2 !important;
}

tr.odd {
    background-color: white !important;
}



.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.table{
width: 100%;
background-color:white;

}

.tablecontainer{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
}

.datetd{
    width: 20%;
}

table.dataTable thead th {

    /* border-bottom: none; */
    border: none;
}

table.dataTable tbody td {

    /* border-bottom: none; */
    border: none;
}
.custom-active{
    background: #2b2b2b;
}

.nav-tabs .nav-link.active {
    background-color: #a42c48;
    color: white !important;
}

.navtext-tab{
    color: black;
}

.tabcontent-custom{
    background-color: whitesmoke;
     margin-left: auto !important;
     margin-right: auto!important;
     max-width: unset !important;
    padding-bottom: 2em !important;
    margin-bottom: 2em !important;

}

.custominputnotifica{
background-color: transparent !important;
    margin-left: 1%;
}

textarea{
    resize: none;
    width: 100%;
    height: 100%;

}

.miatextarea{
font-size: 80%;

}

.customdate{
    color: black !important;
    background: transparent !important;
    border-radius: 20px !important;
}

.btn-icn{
    background-color: transparent;
}

.cstm-icn{
    color: #a5956d;
}

.collapseclick{
    cursor: pointer;
}

.mybadge{
    background-color: #a5956d;
}

.wrapperg{
    overflow-y: scroll
}

.h-scroll {
    height: 100vh; /* %-height of the viewport */
    position: fixed;
    overflow-y: scroll;
}

 


a.paginate_enabled_next,
a.paginate_disabled_next,
a.paginate_enabled_previous,
a.paginate_disabled_previous{
    background: none!important
}



@media (min-width: 768px) {
    body {
      margin-left: 100px;
    }
  }
  .navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  
  @media (min-width: 768px) {

    .navbar.fixed-left {
      bottom: 0;
      width: 100px;
      flex-flow: column nowrap;
      align-items: flex-start;
      background-color: #333333;

    }
    .navbar.fixed-left .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      top: 0;
    }
  }
  
  @media (max-width: 767px) {

    /* body {
        margin: 0;
      } */

      .miocont{
          margin-top: 3.5em;
      }
    .navbar.fixed-left {
      /* width: 100px; */
      /* flex-flow: column nowrap; */
      align-items: flex-start;
      background-color: #333333;
      margin-top: 3.5em;
      /* width: 50%; */
            /* flex-flow: row ; */


    }
    .navbar.fixed-left .navbar-collapse {
      flex-grow: 0;
      flex-direction: row;
      width: 100%;
      
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
      flex-direction: row;
      width: 100%;
      
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
        
        /* font-size: 50%; */
  
      }

      .navbar.fixed-left .navbar-collapse .navbar-nav .nav-itemno {
display: none        
        /* font-size: 50%; */
  
      }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      top: 0;
    }
  }
 