html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    margin: 0;
}

body{
    height: 100%; 
}

.container{
    margin-left: 7%!important;
    margin-right: 7%!important;
    max-width: 90%!important;
}

hr{
    border-width: 2px;
    border-color: black;
    border-radius: 100px;
}

.lateralnav{
    float: left;
    background-color: #333333;
    height: auto;
}

.formrow{
    margin-bottom: 1%;
}

.flex-column {
    height: 100%; 
}
.navtext{
    color: #9b8e6e;
}

.nav .nav-item > .nav-link.active  {
    color:green;
}

a:hover { 
    color: yellow;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.table{
width: 100%;
background-color:white;

}

.tablecontainer{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
}

.datetd{
    width: 10%;
}

.custom-active{
    background-color: red;
}
.nav-tabs .nav-link.active {
    background-color: #a42c48;
    color: white;
}

.navtext-tab{
    color: black;
}

.tabcontent-custom{
    background-color: #f3f2ed;
     margin-left: auto !important;
     margin-right: auto!important;
     max-width: unset !important;
    padding-bottom: 2em !important;
    margin-bottom: 2em !important;

}

.custominputnotifica{
background-color: transparent !important;
}

textarea{
    resize: none;
    width: 100%;
    height: 100%;
}
