html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    margin: 0;
    
}

body{
    height: 100%; 
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F2ED;

}

hr{
    border-width: 2px;
    border-color: black;
    border-radius: 100px;
}

.lateralnav{
    float: left;
    background-color: #333333;
    height: auto;
}

.formrow{
    margin-bottom: 2%;
}

.flex-column {
    height: 100%; 
}
.navtext{
    color: #9b8e6e;
    font-size: 60%;
    display: grid;
    text-align: center;
}

.nav .nav-item > .nav-link.active  {
    color:green;
}
#novus{
    color: black;
}
 a:hover {
    color: #9b8e6e;
} 


td.sorting_1 {
    background-color: transparent !important;
}

tr.even {
    background-color: #F2F2F2 !important;
}

tr.odd {
    background-color: white !important;
}

.circle {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    /* padding: 0.3em 0.3em; */
    width: 1.7em!important;
    height: 1.7em!important;
    padding: 7%;
    margin-left: 25%;
  
  }

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.table{
width: 100%;
background-color:white;

}

.tablecontainer{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
}

.datetd{
    width: 20%;
}

table.dataTable thead th {

    border-bottom: none;
}
.custom-active{
    background: #2b2b2b;
}

.nav-tabs .nav-link.active {
    background-color: #a42c48;
    color: white !important;
}

.navtext-tab{
    color: black;
}

.tabcontent-custom{
    background-color: whitesmoke;
     margin-left: auto !important;
     margin-right: auto!important;
     max-width: unset !important;
    padding-bottom: 2em !important;
    margin-bottom: 2em !important;

}

.custominputnotifica{
background-color: transparent !important;
    margin-left: 1%;
}

textarea{
    resize: none;
    width: 100%;
    height: 100%;

}

.miatextarea{
font-size: 80%;

}

.customdate{
    color: black !important;
    background: transparent !important;
    border-radius: 20px !important;
}

.btn-icn{
    background-color: transparent;
}

.cstm-icn{
    color: #a5956d;
}

.collapseclick{
    cursor: pointer;
}